{% extends 'layout/layout.html'%}
{% load staticfiles %}
{% load guardian_tags %}
{% block title %}
实例管理
{% endblock %}
{% block css %}
<link href="{% static 'bizmodule/css/bootstrap-table.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
{% get_obj_perms request.user for bizmodule_page as "page_perms" %}
{% if 'view' in page_perms %}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Pre-Prd实例管理</h3>
    </div>
</div>
{% if 'operate' in page_perms %}
<div class="row"  style="padding-bottom:5px">
    <div class="col-md-12">
        <div class="btn-group" role="group" aria-label="...">
            <button class="btn btn-primary btn-sm" type="button" onclick="startAllServices()">
                <i class="fa fa-play"></i>
                启动
            </button>
            <button class="btn btn-primary btn-sm" type="button" onclick="stopAllServices()">
                <i class="fa fa-power-off"></i>
                停止
            </button>
            <button class="btn btn-primary btn-sm" type="button" onclick="restartAllServices()">
                <i class="fa fa-repeat"></i>
                重启
            </button>
            <button class="btn btn-primary btn-sm" type="button" onclick="toggleAutoCheck(false)" id="btnRefreshSwitch">
                <i class="fa fa-refresh"></i>
                关闭自动刷新
            </button>
        </div>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <li class="active"><a href="#topo-layer" data-toggle="tab" aria-expanded="true">拓扑实例</a>
            </li>
            <li class=""><a href="#data-access-layer" data-toggle="tab" aria-expanded="true">数据访问层</a>
            </li>
            <li class=""><a href="#business-layer" data-toggle="tab" aria-expanded="false">业务层</a>
            </li>
            <li class=""><a href="#forwarding-layer" data-toggle="tab" aria-expanded="false">转发层</a>
            </li>
            <li class=""><a href="#access-layer" data-toggle="tab" aria-expanded="false">接入层</a>
            </li>
            <li class=""><a href="#basic-service-layer" data-toggle="tab" aria-expanded="false">基础服务</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="topo-layer">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table_container">
                            <div id="toolbar-topoLayer">
                                <div class="form-inline" role="form">
                                    <div class="form-group">
                                        <span>显示过滤：</span>
                                        <select class="form-control" id="sel-topoLayer">
                                            <option value="all">显示所有实例</option>
                                            <option value="current">显示旧版本实例</option>
                                            <option value="update">显示更新版本实例</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-default" id="ok-topoLayer">OK</button>
                                </div>
                            </div>
                            <table class="table table-bordered table-hover instanceInfos"
                                   id="topoLayer">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="data-access-layer">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table_container">
                            <div id="toolbar-dataAccessLayer">
                                <div class="form-inline" role="form">
                                    <div class="form-group">
                                        <span>显示过滤：</span>
                                        <select class="form-control" id="sel-dataAccessLayer">
                                            <option value="all">显示所有实例</option>
                                            <option value="current">显示旧版本实例</option>
                                            <option value="update">显示更新版本实例</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-default" id="ok-dataAccessLayer">OK</button>
                                </div>
                            </div>
                            <table class="table table-bordered table-hover instanceInfos"
                                   id="dataAccessLayer">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="business-layer">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table_container">
                            <div id="toolbar-businessLayer">
                                <div class="form-inline" role="form">
                                    <div class="form-group">
                                        <span>显示过滤：</span>
                                        <select class="form-control" id="sel-businessLayer">
                                            <option value="all">显示所有实例</option>
                                            <option value="current">显示旧版本实例</option>
                                            <option value="update">显示更新版本实例</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-default" id="ok-businessLayer">OK</button>
                                </div>
                            </div>
                            <table class="table table-bordered table-hover instanceInfos"
                                   id="businessLayer">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="forwarding-layer">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table_container">
                            <div id="toolbar-forwardingLayer">
                                <div class="form-inline" role="form">
                                    <div class="form-group">
                                        <span>显示过滤：</span>
                                        <select class="form-control" id="sel-forwardingLayer">
                                            <option value="all">显示所有实例</option>
                                            <option value="current">显示旧版本实例</option>
                                            <option value="update">显示更新版本实例</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-default" id="ok-forwardingLayer">OK</button>
                                </div>
                            </div>
                            <table class="table table-bordered table-hover instanceInfos"
                                   id="forwardingLayer">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="access-layer">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table_container">
                            <div id="toolbar-accessLayer">
                                <div class="form-inline" role="form">
                                    <div class="form-group">
                                        <span>显示过滤：</span>
                                        <select class="form-control" id="sel-accessLayer">
                                            <option value="all">显示所有实例</option>
                                            <option value="current">显示旧版本实例</option>
                                            <option value="update">显示更新版本实例</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-default" id="ok-accessLayer">OK</button>
                                </div>
                            </div>
                            <table class="table table-bordered table-hover instanceInfos"
                                   id="accessLayer">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="basic-service-layer">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table_container">
                            <div id="toolbar-basicService">
                                <div class="form-inline" role="form">
                                    <div class="form-group">
                                        <span>显示过滤：</span>
                                        <select class="form-control" id="sel-basicService">
                                            <option value="all">显示所有实例</option>
                                            <option value="current">显示旧版本实例</option>
                                            <option value="update">显示更新版本实例</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-default" id="ok-Layer">OK</button>
                                </div>
                            </div>
                            <table class="table table-bordered table-hover instanceInfos"
                                   id="basicService">
                            </table>
                        </div>
                     </div>
                 </div>
             </div>
        </div>
    </div>
</div>
{% else %}
<h3 class="text-danger">你没有权限查看当前页面</h3>
{% endif %}
{% endblock %}
{% block script %}
<script src="{% static 'bizmodule/js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'bizmodule/js/bootstrap-table-zh-CN.min.js' %}"></script>
<script>
var currentLayer = 'topoLayer';
var intervalSeconds = 60;
var intervalIds = [];

$('a[data-toggle="tab"]').on('show.bs.tab', function(e){
    var navTabHtml = e.target;
    var currentPanelId = $(navTabHtml).attr('href');
    currentLayer = $(currentPanelId).find('.instanceInfos').attr('id');
});

$(document).ready(function() {
    init_tables();
    $(window).on('beforeunload', function(){
        console.log('start to clear intervals');
        var length = intervalIds.length;
        for (var i= length; i > 0; i--){
            clearInterval(intervalIds.pop())
        }
    })
});

function init_tables(){
    $('table').each(function() {
        var tableId = $(this).attr('id');
        var tableObj = $('#' + tableId);
        tableObj.bootstrapTable({
            url: 'show_instances',
            method: 'get',
            toolbar: '#toolbar-' + tableId,
            striped: true,
            cache: false,
            pagination: false,
            sortable: true,
            sortOrder: "asc",
            queryParams: function queryParams(params) {
                temp = {
                    'region': region,
                    'table_id': tableId,
                    'display_filter': $('#sel-' + tableId).val()
                };
                return temp
            },
            search: true,
            showColumns: true,
            showRefresh: true,
            minimumCountColumns: 2,
            clickToSelect: true,
            uniqueId: "module_info",
            showToggle: true,
            cardView: false,
            detailView: true,
            rowStyle: function (value, row, index) {
                return {
                    css: {"vertical-align": "middle"}
                }
            },
            detailFormatter: function (index, row) {
                return getModuleDetails(row, tableId, true)
            },
            columns: [
                {
                    checkbox: true
                },
                {
                    "field": "module_name",
                    "title": "模块名"

                },
                {
                    "field": "module_version",
                    "title": "模块信息"
                },
                {
                    "field": "running_count",
                    "title": "实例状态(正在运行/实例总数)",
                    "formatter": function (value, row, index) {
                        return value + '/' + row.total_count
                    }
                },
                {
                    "field": "service_started_count",
                    "title": "服务状态(已启动/实例总数)",
                    "formatter": function (value, row, index) {
                        return value + '/' + row.total_count
                    }
                },
                {
                    "field": "operations",
                    "title": "操作"
                }
            ]
        });
        tableObj.on("load-success.bs.table", function (e, data) {
            onTableDraw(tableId, tableObj)
        });
        tableObj.on("refresh.bs.table", function(e, data) {
            onTableDraw(tableId, tableObj)
        });
        $('#ok-' + tableId).click(function () {
            $('#' + tableId).bootstrapTable('refresh')
        })
    })
}

function getModuleDetails(row, tableId, boolOffset){
    var instances = row.instances;
    if (boolOffset){
        var htmlPrefix = '<div class="col-md-10 col-md-offset-2">'
    }
    else{
        var htmlPrefix = '<div class="col-md-12">'
    }
    htmlPrefix =  htmlPrefix +
            '<table class="table table-responsive table-striped table-hover">' +
            '<thead>' +
            '<tr style="height:37px;">' +
            '<th>实例名</th>' +
            '<th>公有ip</th>' +
            '<th>私有ip</th>' +
            '<th>实例状态</th>' +
            '<th>服务状态</th>' +
            '</tr>' +
            '</thead>' +
            '<tbody>';
    var htmlPostFix = '</tbody></table></div>';
    var trHtml = '';
    for (var i in instances) {
        var instance = instances[i];
        trHtml += ('<tr><td>' + instance.instance_name + '</td><td>' + instance.public_ip +
        '</td><td>' + instance.private_ip + '</td><td>' + renderState(instance.instance_state, tableId) +
        '</td><td>' + renderState(instance.module_state, tableId, true) + '</td></tr>')
    }
    return htmlPrefix + trHtml + htmlPostFix
}

function onTableDraw(tableId, tableObj){
    $(".bs-checkbox").css("vertical-align", "middle");
    if (tableId == 'topoLayer'||tableId == 'basicService') {
        tableObj.bootstrapTable('hideColumn', 'service_started_count')
    }
    else {
        checkServiceState(tableId);
    }
    var id = setInterval(function () {
        checkServiceState(tableId)
    }, intervalSeconds * 1000);
    intervalIds.push(id)
}

function renderState(stateName, layer, boolModuleState){
    if (boolModuleState){
        if (layer == 'topoLayer' || layer == 'basicService'){
            return '-'
        }
    }
    if(stateName == "running"){
        return '<span class="label label-success">running</span>'
    }
    else if(stateName == "stopped"){
        return '<span class="label label-danger">stopped</span>'
    }
    else{
        return '<span class="label label-warning">' + stateName + '</span>'
    }
}

function checkServiceState(tableId){
    var checkStateReq = $.ajax({
        url: 'check_biz_state',
        dataType: 'json',
        type: 'get',
        data: {
            'region': region,
            'layer': tableId,
            'display_filter': $('#sel-' + tableId).val()
        }
    });
    checkStateReq.done(function(data){
        var changed = data.changed;
        var layer = data.layer;
        var table = $('#' + layer);
        if (changed){
            var infos = data.infos;
            for (var moduleInfo in infos){
                table.bootstrapTable('updateByUniqueId', {id: moduleInfo, row: infos[moduleInfo]})
            }
            $(".bs-checkbox").css("vertical-align", "middle");
        }
    })
}

function startService(moduleInfo){
    var table = $('#' + currentLayer);
    var currentRowData = table.bootstrapTable('getRowByUniqueId', moduleInfo);
    var totalCount = currentRowData['total_count'];
    var runningCount = currentRowData['running_count'];
    if (totalCount == runningCount){
        alertMessage('所有实例已经在运行.');
        return
    }
    $.globalMessenger().post({
        message: "正在启动：" + moduleInfo,
        type: 'info',
        hideAfter: 5,
        showCloseButton: true
    });
    var startServiceReq = $.ajax({
        url: "start_service",
        type: "GET",
        dataType: "JSON",
        data: {
            'region': region,
            'layer_name': currentLayer,
            'module_info': moduleInfo
        }
    });
    startServiceReq.done(function(data){
        showInstanceResponse(data)
    })
}

function stopService(moduleInfo){
    var table = $('#' + currentLayer);
    var currentRowData = table.bootstrapTable('getRowByUniqueId', moduleInfo);
    var runningCount = currentRowData['running_count'];
    if (runningCount == 0){
        alertMessage('所有实例已经停止。');
        return
    }
    var confirmInfos = '确定停止模块版本为' + moduleInfo + '的所有实例？' + getModuleDetails(currentRowData, currentLayer, false);
    BootstrapDialog.confirm(confirmInfos, function(result){
        if(result) {
            $.globalMessenger().post({
                message: "正在停止：" + moduleInfo,
                type: 'info',
                hideAfter: 5,
                showCloseButton: true
            });
            var stopServiceReq = $.ajax({
                url: "stop_service",
                type: "GET",
                dataType: "JSON",
                data: {
                    'region': region,
                    'layer_name': currentLayer,
                    'module_info': moduleInfo
                }
            });
            stopServiceReq.done(function(data){
                showInstanceResponse(data)
            })
        }
    });
}

function restartService(moduleInfo){
    var table = $('#' + currentLayer);
    var currentRowData = table.bootstrapTable('getRowByUniqueId', moduleInfo);
    var runningCount = currentRowData['running_count'];
    if (runningCount == 0){
        alertMessage('没有能重启的实例');
        return
    }
    var confirmInfos = '确定重启模块版本为' + moduleInfo + '的所有实例？' + getModuleDetails(currentRowData, currentLayer, false);
    BootstrapDialog.confirm(confirmInfos, function(result){
        if(result) {
            $.globalMessenger().post({
                message: "正在重启：" + moduleInfo,
                type: 'info',
                hideAfter: 5,
                showCloseButton: true
            });
            var stopServiceReq = $.ajax({
                url: "stop_service",
                type: "GET",
                dataType: "JSON",
                data: {
                    'region': region,
                    'layer_name': currentLayer,
                    'module_info': moduleInfo
                }
            });
            stopServiceReq.done(function(data){
                showInstanceResponse(data);
            })
        }
    });
}

function startAllServices(){
    var table = $('#' + currentLayer);
    var selectRows = table.bootstrapTable('getAllSelections');
    if (selectRows.length == 0){
        alertMessage('请先选择要操作的模块及版本！');
        return
    }
    var serviceList = [];
    var alreadyRunningList = [];
    for (var rowIndex in selectRows){
        var row = selectRows[rowIndex];
        var moduleInfo = row['module_info'];
        var totalCount = row['total_count'];
        var runningCount = row['running_count'];
        if (totalCount == runningCount){
            alreadyRunningList.push(moduleInfo)
        }
        else{
            serviceList.push(moduleInfo)
        }
    }
    if (alreadyRunningList.length > 0){
        $.globalMessenger().post({
            message: '以下选择的模块版本实例正在运行： ' + alreadyRunningList,
            type: 'error',
            hideAfter: 10,
            showCloseButton: true
        });
    }
    if (serviceList.length > 0){
        $.globalMessenger().post({
            message: "正在批量启动：<br/>" + serviceList,
            type: 'info',
            hideAfter: 5,
            showCloseButton: true
        });
        var startServicesReq = $.ajax({
            url: "start_services",
            type: "GET",
            dataType: "JSON",
            data: {
                'region': region,
                'layer_name': currentLayer,
                'module_infos': ','.join(serviceList)
            }
        });
        startServicesReq.done(function(data){
            showInstanceResponse(data)
        })
    }
}

function stopAllServices(){
    var table = $('#' + currentLayer);
    var selectRows = table.bootstrapTable('getAllSelections');
    if (selectRows.length == 0){
        alertMessage('请先选择要操作的模块及版本！');
        return
    }
    var serviceList = [];
    var alreadyStoppedList = [];
    for (var rowIndex in selectRows){
        var row = selectRows[rowIndex];
        var moduleInfo = row['module_info'];
        var runningCount = row['running_count'];
        if (runningCount == 0){
            alreadyStoppedList.push(moduleInfo)
        }
        else{
            serviceList.push(moduleInfo)
        }
    }
    if (alreadyStoppedList.length > 0){
        $.globalMessenger().post({
            message: '以下选择的模块版本实例已经停止： ' + alreadyStoppedList,
            type: 'error',
            hideAfter: 10,
            showCloseButton: true
        })
    }
    if (serviceList.length > 0){
        $.globalMessenger().post({
            message: '正在批量停止:<br/>' + serviceList,
            type: 'info',
            hideAfter: 5,
            showCloseButton: true
        });
        var stopServicesReq = $.ajax({
            url: "stop_services",
            type: "GET",
            dataType: "JSON",
            data: {
                'region': region,
                'layer_name': currentLayer,
                'module_infos': ','.join(serviceList)
            }
        });
        stopServicesReq.done(function(data){
            showInstanceResponse(data)
        })
    }
}

function restartAllServices(){
    var table = $('#' + currentLayer);
    var selectRows = table.bootstrapTable('getAllSelections');
    if (selectRows.length == 0){
        alertMessage('请先选择要操作的模块及版本！');
        return
    }
    var serviceList = [];
    var noRunningList = [];
    for (var rowIndex in selectRows){
        var row = selectRows[rowIndex];
        var moduleInfo = row['module_info'];
        var runningCount = row['running_count'];
        if (runningCount == 0){
            noRunningList.push(moduleInfo)
        }
        else{
            serviceList.push(moduleInfo)
        }
    }
    if (noRunningList.length > 0){
        $.globalMessenger().post({
            message: '以下选择的模块版本没有正在运行的实例，无法重启： ' + noRunningList,
            type: 'error',
            hideAfter: 10,
            showCloseButton: true
        })
    }
    if (serviceList.length > 0){
        $.globalMessenger().post({
            message: '正在批量重启：<br/>' + serviceList,
            type: 'info',
            hideAfter: 10,
            showCloseButton: true
        });
        var restartServicesReq = $.ajax({
            url: "restart_services",
            type: "GET",
            dataType: "JSON",
            data: {
                'region': region,
                'layer_name': currentLayer,
                'module_infos': ','.join(serviceList)
            }
        });
        restartServicesReq.done(function(data){
            showInstanceResponse(data)
        })
    }
}

function showInstanceResponse(responseData){
    var successInstances = data.success;
    var failedInstances = data.failed;
    var ignoredInstances = data.ignore;
    if (successInstances.length > 0){
        $.globalMessenger().post({
            message: "实例操作成功：<br/>" + successInstances,
            type: "success",
            showCloseButton: true,
            hideAfter: 30
        })
    }
    if (failedInstances.length > 0){
        $.globalMessenger().post({
            message: "实例操作失败：<br/>" + failedInstances,
            type: "error",
            showCloseButton: true
        })
    }
    if (ignoredInstances.length > 0){
        $.globalMessenger().post({
            message: "已忽略实例：<br/>" + ignoredInstances,
            type: "warning",
            showCloseButton: true,
            hideAfter: 30
        })
    }
}

function updateRow(currentRowData, totalCount, table, moduleInfo){
    currentRowData['total_count'] = totalCount;
    table.bootstrapTable('updateByUniqueId', {id: moduleInfo, row: currentRowData})
}

function toggleAutoCheck(boolRefreshTable){
    var btnResfreshSwitch = $('#btnRefreshSwitch');
    if (boolRefreshTable){
        var tableIds = ['topoLayer', 'dataAccessLayer', 'businessLayer', 'forwardLayer', 'accessLayer'];
        btnResfreshSwitch.html('<i class="fa fa-refresh">关闭自动刷新');
        btnResfreshSwitch.attr("onclick", "toggleAutoCheck(false)");
        for (var index in tableIds){
            var id = setInterval(function () {
                checkServiceState(tableIds[index])
            }, intervalSeconds * 1000);
            intervalIds.push(id);
        }
    }
    else{
        btnResfreshSwitch.html('<i class="fa fa-refresh">允许自动刷新');
        btnResfreshSwitch.attr("onclick", "toggleAutoCheck(true)");
        var length = intervalIds.length;
        for (var i= length; i > 0; i--){
            clearInterval(intervalIds.pop())
        }
    }
}

</script>
{% endblock %}