<div class="row">
    <div class="col-md-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#process-serviceDeploy-{{ module_name }}" data-toggle="tab" aria-expanded="true">执行进度</a>
            </li>
            <li class=""><a href="#logs-serviceDeploy-{{ module_name }}" data-toggle="tab" aria-expanded="false">详细日志</a>
            </li>
            <li class=""><a href="#show-command-serviceDeploy-{{ module_name }}" data-toggle="tab" aria-expanded="false">当前执行命令</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="tab-content" style="padding:20px">
                    <div class="tab-pane fade active in" id="process-serviceDeploy-{{ module_name }}">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span>0%</span>
                            </div>
                        </div>
                        <div class="text-center todo">
                            开始执行脚本
                        </div>
                        <div class="list-group detail">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="logs-serviceDeploy-{{ module_name }}">
                        <div class="alert alert-warning">
                            日志信息需要等待脚本执行完成才能进行加载。
                        </div>
                        <div class="alert alert-info">
                            当前状态：未加载
                        </div>
                        <button class="btn btn-info disabled" onclick="showScriptLogs('serviceDeploy','{{ module_name }}')">
                            <span class="fa fa-eye"></span>
                            <span style="margin-left:2px">查看日志</span>
                        </button>
                        <button class="btn btn-primary hidden" onclick="getScriptLogs('serviceDeploy','{{ module_name }}')">
                            <span class="fa fa-fresh"></span>
                            <span style="margin-left:2px">加载日志</span>
                        </button>
                    </div>
                    <div class="tab-pane fade" id="show-command-serviceDeploy-{{ module_name }}">
                        <span>脚本名：serviceDeploy</span>
                        <br/>
                        <span>脚本启动命令：</span><code>{{ cmd }}</code>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

